.whyChooseUsItemIcon{
    min-width: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.whyChooseUsItemIcon .whyChooseUsItemIconLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whyChooseUsItemIcon .whyChooseUsItemIconLink img{
    padding-bottom: 20px;
    height: 100px;
    width: 100px;
}

@media (max-width: 767px) {
    .whyChooseUsItemIcon{
        min-width: auto;
    }
}
