.getOneOfTheFollowingWallets .languagesContent{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.walletsContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.walletsContent a:nth-child(2){
    margin: 20px 100px 5px 100px;
}

@media (max-width: 767px) {
    .walletsContent a:nth-child(2){
        margin: 20px 25px 5px 25px;
    }
}
