.socialItem {
    padding: 10px 0;
    margin: 0 35px;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.socialItem:hover {
    border-color: transparent;
}

.socialItem .chooseIconContainer{
    margin-bottom: 20px;
}

.socialItem .chooseIconContainer img{
    height: 50px;
    width: 50px;
}

@media (max-width: 767px) {
    .socialItem {
        margin-bottom: 20px;
    }
}
