.headerDocumentationsSection{
    border-bottom: white 1px solid;
    padding-bottom: 40px;
    margin: 0 200px;
}

.headerDocumentationsSection .title{
    font-size: 70px;
}

.headerDocumentationsSection .title span {
    color: #447cd5;
}

.headerDocumentationsSection p{
    color: white;
}

@media (max-width: 1000px) {
    .headerDocumentationsSection {
        margin: 0 100px;
    }
}

@media (max-width: 767px) {
    .headerDocumentationsSection{
        margin: 0 15px;
    }
}
